/* Inicio do Rodapé */

.footer {
    width: 100%;
    background-color: #241a1b;
}

.container-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.contato-creditos {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    padding: 10px 0;
}

.icons {
    display: flex;
    gap: 25px;
}

#icons-a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 15.2061px;
    transition: ease-in-out 0.3s;
}

.gitHub {
    background-image: url(../img/logo-github.svg);
}

.linkdIn {
    background-image: url(../img/logo-linkedin.svg);
}

.link1, .link2 {
    height: 52px;
    width: 52px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}

.gitHub:hover {
    transform: rotate(-360deg);
}

.linkdIn:hover {
    transform: rotate(360deg);
}

.opacity {
    transition: ease-in-out 0.3s;
}

.opacity:hover {
    opacity: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Final do Rodapé */